body {
    background-color: #5f0c0c !important;
}

h2 {
    font-size:5vh;
    line-height: 5.5vh;
}

h3 {
    font-size:4.5vh;
    line-height: 4.75vh;  
}

#keys {
    height: 6vh;
    padding-top: 4vh;
    padding-left: 4vh;
    padding-right: 4vh;
}

.key-img {
    height: 5vh;
    padding-right: 3vh;
    vertical-align: bottom;
}

.key-label {
    font-size: 3.5vh;
    line-height: 6vh;
}

#title {
    font-size: 5vh;
    padding-top: 2vh;
}